{% extends "base.html" %}

{% block extra_header %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#searchfield').val('Buscar');
        $('#searchfield').click(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').focus(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').blur(function(){
            if($(this).val()==''){$(this).val('Buscar')}
        });
    }); 
</script>
{% endblock %}

{% block contenido %}
<div class="banner">
    <div class="girls">
        <img src="/files/img/girls.jpg" alt="girls">
    </div>
    <div class="index_bar">
        <form id="searchform" action="/libros/busqueda/" method="GET">
            <input type="text" id="searchfield" name="q" value="{{ query|escape }}">
            <input type="submit" id="submit_button" value="&nbsp;">
        </form>
        <div class="clean"></div>
        <div class="ultimo_libro">            
            <span class="book_title">Último libro agregado</span>
          
            <div class="last_book">
                <div class="book_portada">
                {% if ultimos.portada %}
                    <a href="#"><img src="{{ultimos.portada.url_126x163}}" alt="portada"></a>
                {% else %}
                    <a href="#"><img src="/files/img/sin_portada.png" alt="portada"></a>
                {% endif %}
                </div>
                <div class="book_data">
                    <a href="#" class="book_name"><span>{{ultimos.titulo}}</span></a>
                    <br><br>
                    <span class="book_author">Biblioteca-{{ultimos.organizacion}}</span>
                </div>
            
                <div class="clean"></div>
            </div>
        </div>
    </div>
    <div class="clean"></div>
</div>
<div class="index_content">
    <div class="index_intro_text">
        <span class="index_content_title">Introducci&oacute;n</span>
        <div class="breve_descripcion">
            In dapibus augue elementum habitasse rhoncus pulvinar turpis dapibus cras, sit adipiscing in, nisi sed, elementum, integer et, ac nec, nisi! Enim placerat dis, nec tempor parturient aliquam montes pulvinar nec enim, pulvinar augue? Auctor platea, lorem arcu magna natoque! Vel et, a porta. Mid. Porta porttitor sit, odio quis sit egestas integer eu! Pulvinar mid, tincidunt montes dictumst pellentesque. Vut sagittis mauris dignissim. Turpis rhoncus! Pellentesque porttitor turpis
        </div>
    </div>
    <div class="index_bibliotecas">
        <span class="index_content_title">Bibliotecas</span>
        <div class="biblios">
        {% for x, v in tabla.items %}
            <div class="biblioteca">
                <img src="{{x.url_53x53}}" alt="bibliotecas"><br>
                <center>
                    <span class="cantidad_libros">{{v.organi}}</span><br>
                    <span>Documentos</span>
                </center>
            </div>
            <img class="separador_biblio" src="/files/img/separator_biblio.png" alt="separador">
           {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
