{% extends "base.html" %}
{% load pagination_tags %}
{% block extra_header %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if query %}  
        {% else %}
        $('#searchfield').val('Buscar');
        {% endif %}
        $('#searchfield').click(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').focus(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').blur(function(){
            if($(this).val()==''){$(this).val('Buscar')}
        });
    });
</script>
{% endblock %}

{% block contenido %}
<div class="banner">    
    <br><br>
    <div class="busqueda_search_form">
        <form id="searchform" action="/libros/busqueda/" method="GET">
            <input type="text" id="searchfield" name="q" value="{{query|escape}}">
            <input type="submit" id="submit_button" value="&nbsp;">
        </form>
    </div>
</div>
<div class="busqueda_resultados">
    {% if query %}    
    <div class="busqueda_encontrados">Se encontraron <b>{{c}}</b> resultados para: "{{query|escape}}":</div>
        {% autopaginate results 10 %}  
    {% if results %}
    {% for libros in results %}
    <div class="contenido_detalle">
        <div class="tipo">
           
        </div>
        <div class="busqueda_datos_libro">
            <a class="busqueda_titulo_libro" href="/libros/ver/{{libros.id}}/">{{libros.titulo}}</a><br>
         <ul>
            {% if libros.titulo %}
               <li><b>Author:</b> {{ libros.autor }}</li>
            {% endif %}
            {% if libros.codigo %}
               <li><b>Código:</b> {{ libros.codigo }}</li>
            {% endif %}
            {% if libros.editorial %}
               <li><b>Editorial:</b> {{ libros.editorial }}</li>
            {% endif %}
            {% if libros.lugar_pub %}
               <li><b>Lugar:</b> {{ libros.lugar_pub }}</li> 
            {% endif %}
            {% if libros.fecha_pub %}
               <li><b>Fecha:</b> {{ libros.fecha_pub }}</li>
            {% endif %}
             {% if libros.organizacion %}
               <li><b>Organización:</b> {{ libros.organizacion }}</li>
            {% endif %}
            {% if libros.pagina %}
               <li><b>No. de paginas:</b> {{ libros.pagina }}</li>
            {% endif %}
        </ul>
        </div>
        <div class="busqueda_libro_portada">
        {% if libros.portada %}
            <img src="{{libros.portada.url_48x62}}" alt="portada libro">
        {% else %}
            
        {% endif %}
        </div>
        <div class="clean"></div>
    </div>
    
        <div class="clean"></div>
   
    {% endfor %}
    {% else %}
    <p>No hay resultados!!</p>
    {% endif %}
    {% endif %}
    {% paginate %}
 </div>
{% endblock %}

