{% extends "base.html" %}
{% load pagination_tags %}
{% block extra_header %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if query %}  
        {% else %}
        $('#searchfield').val('Buscar');
        {% endif %}
        $('#searchfield').click(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').focus(function(){
            if($(this).val()=='Buscar'){$(this).val('')}
        });
        $('#searchfield').blur(function(){
            if($(this).val()==''){$(this).val('Buscar')}
        });
    });
</script>
{% endblock %}

{% block contenido %}
<div class="banner">    
    <br><br>
    <div class="busqueda_search_form">
        <form id="searchform" action="/libros/busqueda/" method="GET">
            <input type="text" id="searchfield" name="q" value="{{query|escape}}">
            <input type="submit" id="submit_button" value="&nbsp;">
        </form>
    </div>
</div>
<div class="busqueda_resultados">
    {% if query %}    
    <div class="busqueda_encontrados">Se encontraron <b>{{c}}</b> resultados para: "{{query|escape}}":</div>
        {% autopaginate results 10 %}  
    {% if results %}
    {% for libros in results %}
    <div class="contenido_detalle">
        <div class="tipo">
            {% if libros.tipo.nombre == "publicacion" %}
                <img src="/files/img/libro.png" alt="tipo material">
            {% else %} {% if libros.tipo.nombre == "video" %}
                <img src="/files/img/video.png" alt="tipo material">
            {% endif %} {% endif %}
        </div>
        <div class="busqueda_datos_libro">
            <a class="busqueda_titulo_libro" href="/libros/ver/{{libros.id}}/" rel="facebox">{{libros.titulo}}</a><br>
            {% if libros.titulo %}
            <b>Author:</b> {{ libros.autor }}
            <b>Código:</b> {{ libros.codigo }}
            <b>Editorial:</b> {{ libros.editorial }}
            <b>Lugar:</b> {{ libros.lugar_pub }}
            <b>Fecha:</b> {{ libros.fecha_pub }}
            {% endif %}
        </div>
        <div class="busqueda_libro_portada">
        {% if libros.portada %}
            <img src="{{libros.portada.url_48x62}}" alt="portada libro">
        {% else %}
            <img src="/files/img/sin_portada2.png" alt="portada libro">
        {% endif %}
        </div>
        <div class="clean"></div>
    </div>
    
        <div class="clean"></div>
   
    {% endfor %}
    {% else %}
    <p>No hay resultados!!</p>
    {% endif %}
    {% endif %}
    {% paginate %}
 </div>
{% endblock %}

