{% extends "base.html" %}

{% block contenido %}
<div class="banner">    
    <br><br>
    <div class="busqueda_search_form">
        <form id="searchform" action="/libros/busqueda/" method="GET">
            <input type="text" id="searchfield" name="q" value="{{query|escape}}">
            <input type="submit" id="submit_button" value="&nbsp;">
        </form>
    </div>
</div>
<div class="busqueda_resultados">
    {% if query %}    
    <div class="busqueda_encontrados">Se encontraron <b>{{c}}</b> resultados para: "{{query|escape}}":</div>
    {% if results %}
    {% for libros in results %}
    <div class="contenido_detalle">
        <div class="tipo">
            <img src="/files/img/libro.png" alt="tipo material">
        </div>
        <div class="busqueda_datos_libro">
            <a class="busqueda_titulo_libro" href="/libros/ver/{{libros.id}}/" rel="facebox">{{libros.titulo}}</a><br>
            {% if libros.titulo %}
            <b>Author:</b> {{ libros.autor }}<br>
            {% endif %}
        </div>
        <div class="busqueda_libro_portada">
            <img src="/files/img/thumb.png" alt="portada libro">
        </div>
        <div class="clean"></div>
    </div>
    <div class="contenido_detalle">
        <div class="tipo">
            <img src="/files/img/video.png" alt="tipo material">
        </div>
        <div class="busqueda_datos_libro">            
            <a class="busqueda_titulo_libro" href="/libros/ver/{{libros.id}}/" rel="facebox">{{libros.titulo}}</a><br>
            {% if libros.titulo %}
            <b>Author:</b> {{ libros.autor }}<br>
            {% endif %}            
        </div>
        <div class="busqueda_libro_portada">
            <img src="/files/img/thumb.png" alt="portada libro">
        </div>
        <div class="clean"></div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay resultados!!</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

