{% extends "base.html" %}

{%block contenido%}
<div id="content_lista" >
        <div id="titulo_content_lista">Documento</div>
        <div id="resultado">
            <div class="contenido_detalle">
                <h1>{{libros.titulo}}</h1>
                <p>
                    {% if libros.codigo%}
                    <div class="campo_libros"><b>Codigo:</b>
                     &nbsp;&nbsp;&nbsp;{{libros.codigo}}--{{libros.No_acceso}}<br></div>
                    {%endif%}
                    
                     {% if libros.autor%}
                    <div class="campo_libros"><b>Autor:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.autor}}<br></div>
                    {%endif%}
                    
                    {% if libros.edicion%}
                    <div class="campo_libros"><b>Edición:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.edicion}}<br></div>
                    {%endif%}
                    
                    {% if libros.pagina%}
                    <div class="campo_libros"><b>Número de paginas:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.pagina}}<br></div>
                    {%endif%}
                    
                    {% if libros.isbn%}
                    <div class="campo_libros"><b>ISBN:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.isbn}}<br></div>
                    {%endif%}
                    
                    {% if libros.descriptores%}
                    <div class="campo_libros"><b>ISBN:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.descriptores}}<br></div>
                    {%endif%}
                    
                    {% if libros.resumen%}
                    <div class="campo_libros"><b>Resumen:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.resumen|safe}}<br></div>
                    {%endif%}
                    
                    {% if libros.organizacion%}
                    <div class="campo_libros"><b>Organización:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.organizacion}}<br></div>
                    {%endif%}
                    
                    {% if libros.tematica%}
                    <div class="campo_libros"><b>Tematica:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.tematica}}<br></div>
                    {%endif%}
                    
                    {% if libros.fecha_pub%}
                    <div class="campo_libros"><b>Fecha de Publicación:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.fecha_pub}}<br></div>
                    {%endif%}
                    
                    {% if libros.lugar_pub%}
                    <div class="campo_libros"><b>Lugar de Publicación:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.lugar_pub}}<br></div>
                    {%endif%}
                    
                    {% if libros.editorial%}
                    <div class="campo_libros"><b>Editorial:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.editorial}}<br></div>
                    {%endif%}
                    
                    {% if libros.cantidad%}
                    <div class="campo_libros"><b>Cantidad disponible fisicamente:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.cantidad}}<br></div>
                    {%endif%}
                    
                    {% if libros.nota_descriptiva%}
                    <div class="campo_libros"><b>Nota descriptiva:</b>
                    &nbsp;&nbsp;&nbsp;{{libros.nota_descriptiva|safe}}<br></div>
                    {%endif%}
                    
                    {% if libros.adjuntos %}
                    <div class="campo_libros"><b>Descargar:</b></div> 
                    {% for adjunto in libros.adjuntos.all %}
                        {{adjunto.nombre}}
                        <tr class="{% cycle 'red' 'green' %}">                  
                         <a href="{{MEDIA_URL}}{{adjunto.archivo}}"><img style="float:right" src="/files/img/descargar.png"></a><br><br><br>
                    </tr>
                    {% endfor %}             
	                {% else %}
	                  <p>No hay adjunto</p>
	                {% endif %}
                    
                </p>
                <br clear="both">
            </div>
        </div>
</div>
{%endblock%}
