{%block content%}
<div id="content_lista" >
        <div id="titulo_content_lista">Documento</div>
        <div id="resultado">
            <div class="contenido_detalle">
                <h1>{{libros.titulo}}</h1>
                <p>
                     {% if libros.autor%}
                    <div class="campo_libros"><b>Autor:</b></div>
                     <img src="{{MEDIA_URL}}img/autor.png"> {{libros.autor}}<br>
                    {%endif%}
                    <div class="campo_libros"><b>Organización:</b></div>
                    <img src="{{MEDIA_URL}}img/organizacion.png"> {{libros.organizacion}}<br>
                    {% if libros.codigo%}
                    <div class="campo_libros"><b>Codigo:</b></div>
                    <img src="{{MEDIA_URL}}img/codigo.png"> {{libros.codigo}}<br>
                    {%endif%}
                    {% if libros.edicion%}
                    <div class="campo_libros"><b>Edición:</b></div>
                    <img src="{{MEDIA_URL}}img/edicion.png"> {{libros.edicion}}<br>
                    {%endif%}
                    {% if libros.tematica%}
                    <div class="campo_libros"><b>Tematica:</b></div>
                    <img src="{{MEDIA_URL}}img/tematica.png"> {{libros.tematica}}<br>
                    {%endif%}
                    {% if libros.fecha_pub%}
                    <div class="campo_libros"><b>Fecha de Publicación:</b></div>
                    <img src="{{MEDIA_URL}}img/fecha_pub.png"> {{libros.fecha_pub}}<br>
                    {%endif%}
                    {% if libros.lugar_pub%}
                    <div class="campo_libros"><b>Lugar de Publicación:</b></div>
                    <img src="{{MEDIA_URL}}img/lugar_pub.png">{{libros.lugar_pub}}<br>
                    {%endif%}
                    {% if libros.editorial%}
                    <div class="campo_libros"><b>Editorial:</b></div>
                    <img src="{{MEDIA_URL}}img/editorial.png"> {{libros.editorial}}<br>
                    {%endif%}
                    {% if libros.pagina%}
                    <div class="campo_libros"><b>Número de paginas:</b></div>
                    <img src="{{MEDIA_URL}}img/paginas.png">  {{libros.pagina}}<br>
                    {%endif%}
                    {% if libros.isbn%}
                    <div class="campo_libros"><b>isbn:</b></div>
                    <img src="{{MEDIA_URL}}img/isbn.png"> {{libros.isbn}}<br>
                    {%endif%}
                    {% if libros.cantidad%}
                    <div class="campo_libros"><b>Cantidad disponible fisicamente:</b></div>
                    <img src="{{MEDIA_URL}}img/cantidad.png"> {{libros.cantidad}}<br>
                    {%endif%}
                    {% if libros.nota_descriptiva%}
                    <div class="campo_libros"><b>Nota descriptiva:</b></div>
                    <img src="{{MEDIA_URL}}img/nota_descriptiva.png"> {{libros.nota_descriptiva}}<br>
                    {%endif%}
                    {% if libros.resumen%}
                    <div class="campo_libros"><b>Resumen:</b></div>
                    <img src="{{MEDIA_URL}}img/descriptores.png"> {{libros.resumen}}<br>
                    {%endif%}
                    {% if libros.adjuntos %}
                    <div class="campo_libros"><b>Descargar:</b></div> 
                    {% for adjunto in libros.adjuntos.all %}
                        {{adjunto.nombre}}                  
                         <a href="{{MEDIA_URL}}{{adjunto.archivo}}"><img style="float:right" src="/files/img/descargar.png"></a> 
                    {% endfor %}             
	                {% else %}
	                  <p>No hay adjunto</p>
	                {% endif %}
                    
                </p>
                <br clear="both">
            </div>
        </div>
</div>
{%endblock%}
